*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    padding-left: 10%;
    padding-top: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #011d33;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #011d33;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .in_right{
      display: block;
      position:absolute;
      right: 0px;
  }

#orig {
    outline: none;
    border: none;
    display: block;
    padding: 3%;
    width: 70%;
    height: 30%;
    border-radius: 25px;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666
}

#transform{
    margin: 3px;
    outline: none;
    border: none;
    display: block;
    width: 20%;
    border-radius: 10px;
    background:rgb(195, 216, 245);
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: black;
}

#transform:hover{
    background: rgb(150, 188, 241);
}

p{
    line-height: 3em ;
}

